<ion-view title="Editar Perfil" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <form id="editarPerfil-form2" class="list">
      <label class="item item-input" id="editarPerfil-input4">
        <span class="input-label">Nome:</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="editarPerfil-input5">
        <span class="input-label">Sobrenome:</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="editarPerfil-input6">
        <span class="input-label">Fone:</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="editarPerfil-input10">
        <span class="input-label">Data Nasc.:</span>
        <input placeholder="" type="date">
      </label>
      <label class="item item-input" id="editarPerfil-input7">
        <span class="input-label">CEP:</span>
        <input placeholder="" type="text">
      </label>
      <div id="editarPerfil-markdown24" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Sussuarana - Salvador/BA</p>
      </div>
      <label class="item item-input" id="editarPerfil-input8">
        <span class="input-label">Endereço:</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="editarPerfil-input9">
        <span class="input-label">Nº:</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-select" id="editarPerfil-select1">
        <span class="input-label">Cor/Raça</span>
        <select>
          <option>Branco(a)</option>
          <option>Pardo(a)</option>
          <option>Preto(a)</option>
          <option>Amarelo(a)</option>
          <option>Indígena</option>
          <option>Não sei</option>
        </select>
      </label>
      <label class="item item-select" id="editarPerfil-select2">
        <span class="input-label">Cor do Cabelo</span>
        <select>
          <option>Loiro</option>
          <option>Ruivo</option>
          <option>Marrom</option>
          <option>Castanho</option>
          <option>Preto</option>
          <option>Grisalho</option>
          <option>Branco</option>
        </select>
      </label>
      <label class="item item-input" id="editarPerfil-input11">
        <span class="input-label">Peso:</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="editarPerfil-input12">
        <span class="input-label">Altura:</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="editarPerfil-input13">
        <span class="input-label">Calçado:</span>
        <input placeholder="" type="text">
      </label>
      <ion-toggle toggle-class="toggle-energized" id="editarPerfil-toggle4">Equipamento Próprio?</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="editarPerfil-toggle5">Emite Nota Fiscal?</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="editarPerfil-toggle7">Veículo Próprio?</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="editarPerfil-toggle6">Disponibilidade para Viajar?</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="editarPerfil-toggle8">Possui Alguma Deficiência?</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="editarPerfil-toggle9">Possui Alguma Tatuagem?</ion-toggle>
      <button id="editarPerfil-button12" class="button button-energized button-block">Salvar</button>
      <div class="spacer" style="width: 283px; height: 68px;"></div>
    </form>
  </ion-content>
</ion-view>