<ion-view title="Jobs" id="page3" init="init()">
  <ion-content padding="true" class="has-header">
   
    <ion-list id="jobs-list3">

      <ion-item ng-repeat="l in dados.lista_jobs" class="item-icon-right energized" id="jobs-list-item4" 
      href-inappbrowser="https://galeradeeventos.com.br/vagas/{{l.post_name}}">{{l.post_title}}
        <span class="item-note">{{formData(l.post_data_inicio)}} {{formHora(l.post_hora_inicio)}}</span>
        <i class="icon ion-android-calendar"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>