<ion-view title="Perfil" id="page4">

  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-forward" ng-click="sair()"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <div class="img-perfil">
      <img src="{{imgPerfil(dados.lista_user.usuario.user_cover)}}"
      style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="perfil-markdown2" style="text-align:center;" class="show-list-numbers-and-dots text-perfil">
      <p style="color:#504D69;">
        <strong>Blendo Santos</strong>
      </p>
    </div>
    <ion-list id="perfil-list2">
      <div class="item item-body dados-perfil" id="perfil-list-item-container1">        
        <div id="perfil-markdown9" class="show-list-numbers-and-dots">
          <h5>E-mail:</h5>
          <p>{{dados.lista_user.usuario.user_email}}</p>
        </div>
        <div id="perfil-markdown8" class="show-list-numbers-and-dots">
          <h5>Telefone:</h5>
          <p>{{dados.lista_user.usuario.telefone}}</p>
        </div>
        <div id="perfil-markdown10" class="show-list-numbers-and-dots">
          <h5>Cidade/UF:</h5>
          <p>{{dados.lista_user.usuario.user_city}}/{{dados.lista_user.usuario.user_uf}}</p>
        </div>
        <div id="perfil-markdown11" class="show-list-numbers-and-dots">
          <h5>Idade:</h5>
          <p>{{idade(dados.lista_user.usuario.user_nascimento)}}</p>
        </div>
        <div id="perfil-markdown7" class="show-list-numbers-and-dots">
          <h5>Categoria(s):</h5>
          <p>{{dados.lista_user.categoria}}</p>
        </div>
        <div id="perfil-markdown12" class="show-list-numbers-and-dots">
          <h5>Descrição:</h5>
          <p>{{dados.lista_user.usuario.descricao}}</p>
        </div>
        <div id="perfil-markdown13" class="show-list-numbers-and-dots">
          <h5>Habilidades:</h5>
          <p>{{dados.lista_user.usuario.habilidades}}</p>
        </div>
        <div id="perfil-markdown14" class="show-list-numbers-and-dots">
          <h5>Referências:</h5>
          <p>{{dados.lista_user.usuario.referencias}}</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>